{% capture qs_qualified %}{%- render 'fn.querystring', param: "e" -%}{% endcapture %}
<div class="Container Page-Thank-You-Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">
        {%- if qs_qualified == 'true' -%}
          You've qualified!
        {%- else -%}
          We're sorry.
        {%- endif -%}
      </h1>
    </div>
  </header>

  <div class="PageContent Rte">
    {%- if qs_qualified == 'true' -%}
      <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis.</p>
    {%- else -%}
      <p>On the basis of your location or garment needs, we are unable to offer the Aria Free system to you at this time. We currently ship to select states and offer the leg garment exclusively. As we continue to expand our shipping destinations and make additional garments available, we’ll let you know.</p>
      <p>Stay connected with us and we’ll let you know when we’re able to offer the Aria Free system to you.</p>
    {%- endif -%}

    <a href="/" class="Button Button--fill Button--round Button--text-normal">Return home</a>
  </div>
</div>