<table class="product-tab-eligible-states">
<thead><tr><th>States eligible for purchase</th><th>States eligible for rental purchase plan</th></tr></thead>
<tbody>
<tr><td>Alaska</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>California</td><td></td></tr>
<tr><td>Colorado</td><td></td></tr>
<tr><td>Delaware</td><td></td></tr>
<tr><td>District of Columbia</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Georgia</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Hawaii</td><td></td></tr>
<tr><td>Maine</td><td></td></tr>
<tr><td>Maryland</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Massachusetts</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Minnesota</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Missouri</td><td></td></tr>
<tr><td>Nebraska</td><td></td></tr>
<tr><td>New Jersey</td><td></td></tr>
<tr><td>New Mexico</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>New York</td><td></td></tr>
<tr><td>Ohio</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Oklahoma</td><td></td></tr>
<tr><td>Oregon</td><td></td></tr>
<tr><td>Pennsylvania</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Rhode Island</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>South Dakota</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Texas</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>Vermont</td><td></td></tr>
<tr><td>Washington</td><td><i class="fa fa-check"></i></td></tr>
<tr><td>West Virginia</td><td></td></tr>
<tr><td>Wisconsin</td><td></td></tr>
<tr><td>Wyoming</td><td></td></tr>
</tbody>
</table>