<!-- FORM: BODY SECTION -->
<div class="wFormContainer" >
    <div class="wFormHeader"></div>
    <style type="text/css"></style><div class=""><div class="wForm" id="9-WRPR" dir="ltr">
<div class="codesection" id="code-9"></div>
<form method="post" action="https://ariatherapy.tfaforms.net/responses/processor" class="hintsBelow labelsAbove" id="9" role="form">
<div class="oneField field-container-D    " id="tfa_92-D">
<label id="tfa_92-L" class="label preField reqMark" for="tfa_92">Your Email</label><br><div class="inputWrapper"><input type="text" id="tfa_92" name="tfa_92" value="" readonly aria-required="true" title="Your Email" class="readonly required"></div>
</div>
<div class="oneField field-container-D    " id="tfa_4-D" role="group" aria-labelledby="tfa_4-L" data-tfa-labelledby="-L tfa_4-L">
<label id="tfa_4-L" class="label preField reqMark" aria-label="What affected area are you looking to treat with Aria?   required">What affected area are you looking to treat with Aria?</label><br><div class="inputWrapper"><span id="tfa_4" class="choices vertical required"><span class="oneChoice"><input type="checkbox" value="tfa_5" class="calcval-Leg" id="tfa_5" name="tfa_5" aria-labelledby="tfa_5-L" data-tfa-labelledby="tfa_4-L tfa_5-L"><label class="label postField" id="tfa_5-L" for="tfa_5"><span class="input-checkbox-faux"></span>Right leg</label></span><span class="oneChoice"><input type="checkbox" value="tfa_86" class="calcval-Leg" id="tfa_86" name="tfa_86" aria-labelledby="tfa_86-L" data-tfa-labelledby="tfa_4-L tfa_86-L"><label class="label postField" id="tfa_86-L" for="tfa_86"><span class="input-checkbox-faux"></span>Left leg</label></span><span class="oneChoice"><input type="checkbox" value="tfa_6" class="calcval-Arm" id="tfa_6" name="tfa_6" aria-labelledby="tfa_6-L" data-tfa-labelledby="tfa_4-L tfa_6-L"><label class="label postField" id="tfa_6-L" for="tfa_6"><span class="input-checkbox-faux"></span>Right arm</label></span><span class="oneChoice"><input type="checkbox" value="tfa_87" class="calcval-Arm" id="tfa_87" name="tfa_87" aria-labelledby="tfa_87-L" data-tfa-labelledby="tfa_4-L tfa_87-L"><label class="label postField" id="tfa_87-L" for="tfa_87"><span class="input-checkbox-faux"></span>Left arm</label></span><span class="oneChoice"><input type="checkbox" value="tfa_7" class="calcval-Head and neck" id="tfa_7" name="tfa_7" aria-labelledby="tfa_7-L" data-tfa-labelledby="tfa_4-L tfa_7-L"><label class="label postField" id="tfa_7-L" for="tfa_7"><span class="input-checkbox-faux"></span>Head &amp; neck</label></span><span class="oneChoice"><input type="checkbox" value="tfa_85" class="calcval-Trunk" id="tfa_85" name="tfa_85" aria-labelledby="tfa_85-L" data-tfa-labelledby="tfa_4-L tfa_85-L"><label class="label postField" id="tfa_85-L" for="tfa_85"><span class="input-checkbox-faux"></span>Trunk</label></span><span class="oneChoice"><input type="checkbox" value="tfa_8" class="calcval-Other" id="tfa_8" name="tfa_8" aria-labelledby="tfa_8-L" data-tfa-labelledby="tfa_4-L tfa_8-L"><label class="label postField" id="tfa_8-L" for="tfa_8"><span class="input-checkbox-faux"></span>Other</label></span></span></div>
</div>
<div class="oneField field-container-D    " id="tfa_16-D" role="radiogroup" aria-labelledby="tfa_16-L" data-tfa-labelledby="-L tfa_16-L">
<label id="tfa_16-L" class="label preField reqMark">Please select your purchase preference:</label><br><div class="inputWrapper"><span id="tfa_16" class="choices vertical required"><span class="oneChoice"><input type="radio" value="tfa_17" class="calc-varCashPay calcval-Yes" id="tfa_17" name="tfa_16" aria-required="true" aria-labelledby="tfa_17-L" data-tfa-labelledby="tfa_16-L tfa_17-L"><label class="label postField" id="tfa_17-L" for="tfa_17"><span class="input-radio-faux"></span>I intend to pay out of pocket or use my HSA/FSA</label></span><span class="oneChoice"><input type="radio" value="tfa_18" class="calc-varCashPay calcval-No" id="tfa_18" name="tfa_16" aria-required="true" aria-labelledby="tfa_18-L" data-tfa-labelledby="tfa_16-L tfa_18-L"><label class="label postField" id="tfa_18-L" for="tfa_18"><span class="input-radio-faux"></span>I'd like to use my insurance</label></span></span></div>
</div>
<fieldset id="tfa_94" class="section wf-acl-hidden">
<legend id="tfa_94-L">Hidden Section</legend>
<div id="tfa_97" class="section inline group">
<div class="oneField field-container-D    " id="tfa_93-D">
<label id="tfa_93-L" class="label preField " for="tfa_93">Eligible State</label><br><div class="inputWrapper"><input type="text" id="tfa_93" name="tfa_93" value="" title="Eligible State" class="calc-EligibleState"></div>
</div>
<div class="oneField field-container-D    " id="tfa_95-D">
<label id="tfa_95-L" class="label preField " for="tfa_95">State</label><br><div class="inputWrapper"><input type="text" id="tfa_95" name="tfa_95" value="" title="State" class=""></div>
</div>
</div>
</fieldset>
<div class="actions" id="9-A"><input type="submit" data-label="Next" class="primaryAction" id="submit_button" value="Next"></div>
<div style="clear:both"></div>
<input type="hidden" value="9" name="tfa_dbFormId" id="tfa_dbFormId"><input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId"><input type="hidden" value="fff17b48449ddc0a758f543ee2f2fd00" name="tfa_dbControl" id="tfa_dbControl"><input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid"><input type="hidden" value="38" name="tfa_dbVersionId" id="tfa_dbVersionId"><input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
</form>
</div></div><div class="wFormFooter"><p class="supportInfo"><br></p></div>
  <p class="supportInfo" >
      </p>
 </div>
