.Section-Cart {
  .SectionHeader {
    .SectionHeader__Heading {
      font-family: $heading-font-family;
      font-weight: 700;
      font-size: 42px;
      line-height: 1;
      color: #000000;
      margin-bottom: 24px;
      @include av-mq('tablet-and-up') {
        font-size: 56px;
      }
      @include av-mq('desk') {
        font-size: 64px;
      }
    }
  }
}