.Section-Homepage-Product {
  background: #ffffff;
  min-height: 600px;
  padding: 96px 0;

  .Container {
  }

  &--Header {
    text-align: center;
    .section-title {
      font-family: $heading-font-family;
      font-size: 64px;
      line-height: 72px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 24px;
    }
    margin-bottom: 52px;
  }

  &--Content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    @include av-mq('desk') {
      flex-direction: row;
    }

    .product-image {
      flex: 1;
      img {
        display: block;
      }
    }
    .product-content {
      flex: 1;
      max-width: 520px;
      position: relative;
      .product-label {
        font-family: $heading-font-family;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 24px;
      }
      .product-title {
        font-family: $heading-font-family;
        font-size: 44px;
        font-weight: 700;
        line-height: 52px;
        color: #43AD92;
        margin-bottom: 32px;
      }
      .product-description {
        font-size: 18px;
        line-height: 32px;
        color: #525364;
        margin-bottom: 48px;
      }
      .product-price {
        background: #E5F5F1;
      }
      .product-actions {
        .Button {
          min-width: 174px;
          text-transform: none;
          margin-right: 40px;
          letter-spacing: 0;
          font-size: 20px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

  }

}