.Section-How-To-Features {
  background: transparent linear-gradient(117deg, #E5EFF5 0%, #CEE0E9 100%) 0% 0% no-repeat padding-box;
  margin: 0;
  padding: 64px 0 144px;
  margin-bottom: -80px !important;
  @include av-mq('tablet') {
    padding: 72px 0 184px;
    margin-bottom: -112px !important;
  }
  @include av-mq('desk') {
    padding: 96px 0 256px;
    margin-bottom: -144px !important;
  }

  .Container {
    position: relative;
    padding: 0 25px;
    @include av-mq('tablet-and-up') {
      padding: 0 36px;
    }
    @include av-mq('desk') {
      padding: 0 48px;
    }
  }

  &--Header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    @include av-mq('phone') {
      flex-direction: column;
    }
    @include av-mq('tablet') {
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 64px;
    }
    @include av-mq('desk') {
      margin-bottom: 96px;
    }
    .Features--Header--Info {
      flex: 1;
      max-width: 632px;
      @include av-mq('phone') {
        margin-bottom: 48px;
      }
      &--Title {
        font-family: $heading-font-family;
        font-size: 42px;
        line-height: 50px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 32px;
        @include av-mq('tablet-and-up') {
          font-size: 44px;
          line-height: 52px;
        }
      }
      &--Description {
        color: $secondary-color;
        margin-bottom: 40px;
        a {
          color: $primary-color;
        }
      }
      &--Steps {
        max-width: 440px;
        margin-bottom: 48px;
      }
      &--Step {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 11px;
        color: $secondary-color;
        display: flex;
        aling-items: flex-start;
        svg {
          color: $primary-color;
          display: block;
          width: 17px;
          height: 27px;
          line-height: 27px;
        }
        span {
          margin-left: 23px;
        }
      }
      &--Actions {
        .Button {
          min-width: 174px;
          text-transform: none;
          margin-right: 40px;
          margin-bottom: 32px;
          letter-spacing: 0;
          font-size: 20px;
          &:last-of-type {
            margin-right: 0;
            margin-bottom: 0;
          }
          @include av-mq('phone') {
            // margin-right: 20px;
          }
          @include av-mq('tablet') {
            // margin-right: 0;
          }
        }
      }
    }
    .Features--Header--Image {
      flex: 1;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &--Content {
    .Feature-List {
      margin-bottom: -40px;
      @include av-mq('tablet-and-up') {
        margin-bottom: -56px;
      }
      @include av-mq('desk') {
        margin-bottom: -68px;
      }
      .flickity-page-dots {
        .dot {
          border-color: #ffffff;
          border-width: 2px;
          width: 16px;
          height: 16px;
          &.is-selected {
            background: #FFFFFF80;
          }
        }
      }
      .Feature-Item {

        width: 100%;
        margin-right: 55px;
        @include av-mq('tablet-and-up') {
          width: calc((100% - 55px) / 3);
        }
        @include av-mq('desk') {
          width: calc((100% - 80px) / 4);
          margin-right: 40px;
        }

        &__Container {
          height: 100%;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          text-align: center;
          .Feature-Item--Icon {
            position: relative;
            img {
              display: block;
              margin: 0 auto;
            }
            margin-bottom: 24px;
            height: 72px;
            display: flex;
            align-items: center;
          }
          .Feature-Item--Title {
            font-family: $heading-font-family;
            font-weight: 700;
            color: $primary-color;
            line-height: 32px;
            font-size: 24px;
            margin-bottom: 12px;
            max-width: 224px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
