.Section-Our-Story-Header {
  background: transparent linear-gradient(125deg, #E5F5F1 0%, #CEE9E2 100%) 0% 0% no-repeat padding-box;
  margin: 0;
  padding: 64px 0;
  @include av-mq('tablet') {
    padding: 80px 0;
  }
  @include av-mq('desk') {
    padding: 96px 0;
  }

  .Container {
    position: relative;
    padding: 0;
  }

  &--Header {
    text-align: center;
    .section-title {
      font-family: $heading-font-family;
      font-size: 42px;
      line-height: 50px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 24px;
      @include av-mq('tablet-and-up') {
        font-size: 56px;
        line-height: 64px;
      }
      @include av-mq('desk') {
        font-size: 64px;
        line-height: 72px;
      }
    }
    margin-bottom: calc(32px + 28.46vw);
    @include av-mq('tablet-and-up') {
      margin-bottom: 56px;
    }
    @include av-mq('desk') {
      margin-bottom: 64px;
    }
  }

  &--Content {

    .header-image {
      margin-top: -50%;
      margin-bottom: 36px;
      position: relative;
      z-index: 2;
      flex: 1;
      @include av-mq('tablet-and-up') {
        // position: absolute;
        // left: 0;
        // top: 50%;
        // transform: translateY(-50%);
        // width: calc(50% - 12px);
        margin: 0 40px 0 0;
        img {
          display: block;
          width: 100%;
          object-fit: cover;
        }
      }
      @include av-mq('desk') {
        width: calc(50% + 20px);
        margin: 0 90px 0 0;
      }
    }
    .header-content-wrapper {
      // position: absolute;
      // right: 0;
      // top: 96px;
      // bottom: 96px;
      // left: 43.7%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .header-content-container {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        padding: 64px 25px;
        @include av-mq('tablet-and-up') {
          flex-direction: row;
          align-items: center;
          padding: 56px 0;
        }
        @include av-mq('desk') {
          padding: 72px 0;
        }
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: #fff;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 0;
          @include av-mq('tablet-and-up') {
            width: 64.19%;
          }
          @include av-mq('desk') {
            width: 56.38%;
          }
        }
      }
      .header-content {
        position: relative;
        z-index: 1;
        flex: 1;
        @include av-mq('tablet-and-up') {
          max-width: 324px;
          margin-right: 32px;
        }
        @include av-mq('desk') {
          max-width: 520px;
          margin-right: 90px;
        }
        .header-title {
          font-family: $heading-font-family;
          font-weight: 700;
          color: $primary-color;
          font-size: 32px;
          line-height: 44px;
          margin-bottom: 24px;
          @include av-mq('tablet-and-up') {
            font-size: 36px;
            line-height: 46px;
          }
          @include av-mq('desk') {
            font-size: 44px;
            margin-bottom: 32px;
          }
        }
        .header-text {
          color: $secondary-color;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 32px;
          @include av-mq('tablet-and-up') {
            font-size: 17px;
            line-height: 31px;
            margin-bottom: 40px;
          }
          @include av-mq('desk') {
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 48px;
          }
        }
        .header-actions {
          .Button {
            text-transform: none;
            margin-right: 40px;
            letter-spacing: 0;
            font-size: 20px;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}