.Section-Support-Archive-Template {
  background: #fff;
  margin: 0;
  padding: 64px 0;
  @include av-mq('tablet') {
    padding: 80px 0;
  }
  @include av-mq('desk') {
    padding: 96px 0;
  }

  .Container {
    position: relative;
    padding: 0 25px;
    @include av-mq('tablet-and-up') {
      padding: 0 36px;
    }
    @include av-mq('desk') {
      padding: 0 48px;
    }
  }

  &--Header {
    text-align: center;
    .section-title {
      font-family: $heading-font-family;
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 16px;
      @include av-mq('tablet-and-up') {
        font-size: 56px;
        line-height: 64px;
      }
      @include av-mq('desk') {
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 24px;
      }
    }
    margin-bottom: 56px;
    @include av-mq('desk') {
      margin-bottom: 64px;
    }
  }

  &--Content {
    .Blog-List {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -40px;
      @include av-mq('tablet') {
        margin-bottom: -48px;
        justify-content: center;
      }
      .Blog-Item {
        flex: 1 0 100%;
        padding: 0 15px;
        margin-bottom: 40px;
        @include av-mq('tablet-and-up') {
          flex: 1 0 50%;
          padding: 0 24px;
          max-width: 50%;
        }
        @include av-mq('tablet') {
          margin-bottom: 48px;
        }
        @include av-mq('desk') {
          flex: 1;
          padding: 0 56px;
          max-width: 33%;
        }
        &:last-of-type {
          // margin-bottom: 0;
        }
        .Blog-Item__Container {
          height: 100%;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          &:hover {
            .Blog-Item--Meta {
              background: #E5F5F1;
            }
            .Blog-Item--Image {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
        .Blog-Item--Image {
          position: relative;
          height: 0;
          padding-top: 100%;
          overflow: hidden;
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
          }
        }
        .Blog-Item--Meta {
          flex: 1;
          padding: 24px 0;
          text-align: center;
          background: #FAFAFB;
          transition: background 0.3s ease;
        }
        .Blog-Item--Name {
          font-family: $heading-font-family;
          font-weight: 700;
          color: $primary-color;
          line-height: 1;
          font-size: 24px;
          margin-bottom: 16px;
        }
        .Blog-Item--Description {
          color: $secondary-color;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
