.PageSizeChart--Content {
  display: flex;
  flex-direction: column;

  @include av-mq('desk') {
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  &--Column {
    flex: 1;
    .PageSizeChart--Content--Title {
      img {
        margin-bottom: 2rem;
      }
      h2 {
        margin-top: 2rem;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        line-height: 1.3;
      }
    }
    .size-chart-positions {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      .size-chart-position {
        margin: 0 1rem;
        max-width: 140px;
        img {
          display: block;
          width: 100%;
          margin-bottom: 2rem;
        }
        a {
          display: block;
          padding-top: 8px;
          padding-bottom: 8px;
          text-transform: none;
        }
      }
    }
    .size-chart-sizes {
      display: flex;
      justify-content: center;
      .size-chart-size {
        margin: 0 2rem;
        img {
          margin-bottom: 1rem;
        }
        label {
          text-align: center;
          display: block;
        }
      }
    }
    .size-chart-table {
      margin: 3rem auto 0;
      max-width: 620px;
      .unit-choice-area {
        text-align: right;
        margin-bottom: 0.5rem;
        font-size: 11px;
        .unit-choice {
          text-decoration: none;
          &.unit-selected {
            text-decoration: underline;
          }
        }
      }
      table {
        font-size: 14px;
        border-collapse: collapse;
        margin-bottom: 0.5rem;
        th {
          letter-spacing: 0;
        }
        thead, tbody {
          border: solid 1px #777;
          td, th {
            border: 0 none;
            background: transparent !important;
            font-family: $text-font-family;
            padding: 2px 12px;
            white-space: nowrap;
            color: #666;
            &.text-center {
              text-align: center;
            }
          }
          th {
            font-weight: 600;
          }
        }
        thead th:first-child {
          font-size: 15px;
          color: $primary-color;
        }
        tbody td {
          font-size: 13px;
          font-weight: 600;
        }
        tbody th:first-child {
          color: inherit;
        }
      }
      p {
        font-size: 12px;
        color: #666;
      }
    }
  }
}

#modal-size-chart {
  background: #fff;
  .Modal__Close {
    background: #000;
    color: #fff;
  }
}
