.Button {
}
.Button--fill {
  background: $primary-color;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
  &.Button--second {
    background: #ffffff;
    color: #000000;
    &:hover {
      color: #000000;
    }
  }
}
.Button--outline {
  border: solid 2px $primary-color;
  color: $primary-color;
  &:hover {
    color: $primary-color;
  }
  &.Button--second {
    border: solid 2px #ffffff;
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
}
.Button--round {
  border-radius: 100px;
}
.Button--text-normal {
  text-transform: none;
}
