.Button {
  letter-spacing: 0;
  transition: all 0.25s ease;
}
.Button--fill {
  background: $primary-color;
  color: #ffffff;
  &:hover {
    background: #7ECBB7;
    color: #ffffff;
  }
  &.Button--second {
    background: #ffffff;
    color: #000000;
    &:hover {
      background: #FFFFFFBF;
      color: #000000;
    }
  }
}
.Button--outline {
  border: solid 2px $primary-color;
  color: $primary-color;
  &:hover {
    background: #7ECBB7;
    color: $primary-color;
  }
  &.Button--second {
    border: solid 2px #ffffff;
    color: #ffffff;
    &:hover {
      background: #FFFFFFBF;
      color: #000000;
    }
  }
}
.Button--round {
  border-radius: 100px;
}
.Button--text-normal {
  text-transform: none;
}

.Button--second {
  transition: all 0.25s ease;
}

.Header__CartDot {
  background-color: $primary-color;
}

.Shadow--Right {
  box-shadow: 10px 10px 0px 0px #5253641A;
}
.Shadow--Left {
  box-shadow: -10px 10px 0px 0px #5253641A;
}
