.Header {
  &:not(.Header--sidebar) {
    .Header__Wrapper {
      padding-left: 25px;
      padding-right: 25px;
      @include av-mq('tablet-and-up') {
        padding-left: 32px;
        padding-right: 32px;
      }
      @include av-mq('desk') {
        padding-left: 68px;
        padding-right: 68px;
      }
    }
  }

  .Header__Wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .Header__LogoImage {
    width: 80px;
    height: 40px;
    @include av-mq('phone') {
      height: 32px;
    }
  }

  .Header__Icon {
    svg {
      font-size: 21px;
    }
  }

  .HorizontalList {
    margin-left: -25px;
    margin-right: -25px;
    @include av-mq('tablet-and-up') {
      margin-left: -32px;
      margin-right: -32px;
    }
    .HorizontalList__Item {
      // position: relative;

      margin-left: 25px;
      margin-right: 25px;
      @include av-mq('tablet-and-up') {
        margin-left: 32px;
        margin-right: 32px;
      }
      margin-top: 0;
      margin-bottom: 0;
      .Heading {
        font-size: 21px;
      }
      &.Separator--Left {
        position: relative;
        &:before {
          content: '';
          display: block;
          height: 40px;
          width: 0px;
          border: solid 1px #9AB5C6;
          position: absolute;
          left: -32px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .Header__LinkSpacer {
        &:after {
          border-bottom-color: $primary-color;
          // top: calc(100% + 16px);
        }
      }

      // &:after {
      //   content: '';
      //   display: none;
      //   width: 100%;
      //   height: 2px;
      //   background: $primary-color;
      //   position: absolute;
      //   top: calc(100% + 16px);
      //   transition: opacity 0.25s ease;
      // }

      &.is-expanded {
        &:after {
          // display: block;
        }
      }

      .DropdownMenu {
        // top: calc(100% + 16px);
        top: 100%;
        padding: 0;
        background: #ffffff;
        border: solid 2px #CEE9E2;
        // border-top-color: transparent;
        &:before {
          background: #CEE9E2;
          width: calc(100% + 2px);
          left: -1px;
        }
        .Linklist {
          .Linklist__Item {
            margin-bottom: 0;
            .Heading {
              font-size: 19px;
              white-space: nowrap;
              line-height: 56px;
              color: #000000;
              transition: background 0.25s ease;
              &:hover {
                color: #000000;
                background: #E5F5F1;
              }
            }
          }
        }
      }
    }
  }
}

.Drawer {
  @include av-mq('phone') {
    width: 100%;
  }
}

.Drawer--fromLeft {
  transform: translateX(calc(-100vw));
}

.Drawer--fromRight {
  right: 0;
  left: auto;
  transform: translateX(calc(100vw));
}

.SidebarMenu {
  background: #ffffff;
  color: #231F20;

  .Collapsible, .Linklist {
    border-color: #F0EFF1;
  }
  .Collapsible__Button {
    color: #231F20;
    font-size: 21px;
    line-height: 56px;
    padding: 0 25px;
    &:hover, &[aria-expanded="true"] {
      color: #231F20;
      background: #E5F5F1;
    }
  }
  .Collapsible .Collapsible {
    margin-left: 0px;
    .Collapsible__Button {
      padding: 0 25px;
      font-size: 19px;
      line-height: 64px;
    }
  }
  .Collapsible__Plus {
    right: 25px;
  }
  .Collapsible__Content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .Drawer__Header {
    max-height: 64px;
    .Drawer__Close {
      color: #ffffff;
      top: 50%;
      transform: translateY(-50%);
      left: 27.5px;
      &:before {
        background: $primary-color;
        z-index: -1;
        left: 50%;
        top: 50%;
        bottom: 0;
        right: 0;
        width: 28px;
        height: 28px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
      svg {
        display: block;
        height: 1em;
        width: 14px;
      }
    }
    .Header__LogoImage {
      height: 32px;
    }
    .Drawer__CartIcon {
      position: absolute;
      margin-left: 0;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      line-height: 0;
    }
    svg {
      font-size: 21px;
    }
  }

  .Drawer__Content {
    color: #231F20;
    &:before {
      background: transparent linear-gradient(180deg, #F0EFF1 0%, transparent 21%, transparent 100%) 0% 0% no-repeat padding-box;
      pointer-events: none;
    }
    .Drawer__Main {
      &:after {
        display: none;
      }
      .Drawer__Container {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        .SidebarMenu__Nav {
          &.SidebarMenu__Nav--primary {
            flex: 1;
            & > .Collapsible {
              // border-bottom: solid 1px #F0EFF1;
            }
          }
          &.SidebarMenu__Nav--secondary {
            flex: 0;
            margin-top: 0;
            .Linklist {
              .Linklist__Item {
                .Link {
                  background: $primary-color;
                  color: #ffffff;
                  font-size: 21px;
                  line-height: 56px;
                  text-align: center;
                  &:hover {
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.supports-hover {
  .SidebarMenu {
    .Link--primary:hover {
      color: #231F20;
    }
  }
}

#fsb_container {
  #fsb_bar {
    font-family: $text-font-family !important;
    font-size: 15px !important;
    line-height: 40px !important;
    padding: 0 !important;
    a {
      font-weight: 700;
      text-decoration: underline;
    }
  }
  #fsb_close {

  }
}
