.partiallyPlansContainer {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
  .partiallyPlanContainer {
    a.partiallyButton {
      padding-right: 1rem !important;
      margin-left: 1rem !important;
    }
    .partiallyWidget {
      text-align: right;
      .partiallyHeader, p {
        display: none;
      }
    }
  }
}
