.shopify-policy__container {
  max-width: 856px;
}
.shopify-policy__title {
  font-family: $heading-font-family;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  line-height: 56px;
  margin: 50px 0;
  @include av-mq('tablet') {
    font-size: 40px;
    margin: 66px 0;
  }
  @include av-mq('desk') {
    font-size: 48px;
    margin: 82px 0;
  }
}
.shopify-policy__body {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
  @include av-mq('tablet') {
    font-size: 17px;
    line-height: 31px;
    margin-bottom: 66px;
  }
  @include av-mq('desk') {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 82px;
  }
  a {
    color: $primary-color;
  }
  ul {
    margin-left: 19px;
    margin-top: 40px;
    margin-bottom: 40px;
    @include av-mq('tablet-and-up') {
      margin-left: 42px;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: 700;
  }
  h1 {
    font-size: 36px;
    line-height: 56px;
    @include av-mq('tablet') {
      font-size: 40px;
      line-height: 56px;
    }
    @include av-mq('desk') {
      font-size: 48px;
      line-height: 56px;
    }
  }
  h2 {
    font-size: 30px;
    line-height: 48px;
    @include av-mq('tablet') {
      font-size: 34px;
      line-height: 48px;
    }
    @include av-mq('desk') {
      font-size: 40px;
      line-height: 48px;
    }
  }
  h3 {
    font-size: 26px;
    line-height: 40px;
    @include av-mq('tablet') {
      font-size: 28px;
      line-height: 40px;
    }
    @include av-mq('desk') {
      font-size: 32px;
      line-height: 40px;
    }
  }
  h4 {
    font-size: 22px;
    line-height: 32px;
    @include av-mq('tablet') {
      font-size: 24px;
      line-height: 32px;
    }
    @include av-mq('desk') {
      font-size: 24px;
      line-height: 32px;
    }
  }
  h5 {
    font-size: 20px;
    line-height: 29px;
    @include av-mq('tablet') {
      font-size: 21px;
      line-height: 29px;
    }
    @include av-mq('desk') {
      font-size: 21px;
      line-height: 29px;
    }
  }
  h6 {
    font-size: 18px;
    line-height: 26px;
    @include av-mq('tablet') {
      font-size: 18px;
      line-height: 26px;
    }
    @include av-mq('desk') {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
