<section class="Section Section--spacingNormal Section-Purchase-Options" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="purchase-options">
  <div class="Container Container--narrow">
    <div class="Section-Purchase-Options--Header" data-aos="fade-up">
      <div class="section-title">
        <span>Purchase options.</span>
      </div>
      <img src="{{ 'icon-swoop.svg' | asset_url }}" style="display: block; margin: 0 auto;">
    </div>
    <div class="Section-Purchase-Options--Content">
      <div class="options-content" data-aos="fade-right">
        <div class="options-content-col options-content-col-info">
          <div class="options-description">
            <span>Aria Free is available for <a>purchase</a> or an <a>interest-free rent-to-own payment plan</a> in <a>select states</a>. Aria Health does not contract directly with insurance companies or Medicare, but we can provide the necessary documentation for <a>HSA or insurance reimbursement</a> if your plans offer coverage.</span>
          </div>
        </div>
        <div class="options-content-col options-content-col-meta">
          <div class="options-actions">
            <a href="/pages/get-started" class="Link Link--primary Button Button--fill Button--round">Get started</a>
            <a href="/products/aria-free" class="Link Link--primary Button Button--outline Button--round">Shop</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>