<section class="Section Section--spacingNormal Section-How-To-Works" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="how-to-works">
  <div class="Container Container--narrow">
    <div class="Section-How-To-Works--Header" data-aos="fade-up">
      <div class="section-title">
        <span>Using your HSA or FSA.</span>
      </div>
      <div class="section-subtitle">
        <span>Aria Health does not contract directly with insurance companies or Medicare, but we can provide the necessary documentation to receive reimbursement if plans offer coverage. Some HSA/FSA agreements and insurance companies can help you pay for pneumatic compression devices.</span>
      </div>
    </div>
  </div>
  <div class="Container Container--narrow">
    <div class="Section-How-To-Works--Content">
      <div class="Works--Content--Info">
        <div class="Works--Content--Info--Title" data-aos="fade-up">
          <span>How it works:</span>
        </div>
        <div class="Works--Content--Info--Steps">
          <div class="Works--Content--Info--Step" data-aos="fade-up">
            <div class="Works--Content--Info--Step--Number">
              <span>1</span>
            </div>
            <div class="Works--Content--Info--Step--Text">
              <span>Verify that your insurance benefits cover out-of-network pneumatic compression devices or that your HSA/FSA covers pneumatic compression devices.</span>
            </div>
          </div>
          <div class="Works--Content--Info--Step" data-aos="fade-up">
            <div class="Works--Content--Info--Step--Number">
              <span>2</span>
            </div>
            <div class="Works--Content--Info--Step--Text">
              <span>Purchase the Aria Free system at our <a href="/products/aria-free">online store</a>.</span>
            </div>
          </div>
          <div class="Works--Content--Info--Step" data-aos="fade-up">
            <div class="Works--Content--Info--Step--Number">
              <span>3</span>
            </div>
            <div class="Works--Content--Info--Step--Text">
              <span>Receive your personalized receipt.</span>
            </div>
          </div>
          <div class="Works--Content--Info--Step" data-aos="fade-up">
            <div class="Works--Content--Info--Step--Number">
              <span>4</span>
            </div>
            <div class="Works--Content--Info--Step--Text">
              <span>To receive your reimbursement, simply upload you receipt to your HAS/FSA account or submit the receipt as required by your employer or insurance company.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="Works--Content--Image" data-aos="fade-left">
        <img src="{{ 'component-device.png' | asset_url }}" />
      </div>
    </div>
  </div>
</section>
