<section class="Section Section--spacingNormal Section-How-To-States" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="how-to-states">
  <div class="Container Container--narrow">
    <div class="Section-How-To-States--Header" data-aos="fade-up">
      <div class="section-title">
        <span>{{ section.settings.title }}</span>
      </div>
    </div>
    <div class="Section-How-To-States--Content">
      <div class="states-table">
        {%- render 'table-eligible-states' -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "How to get Aria - States",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "category": "How to get Aria",
      "name": "States",
      "settings": {}
    }
  ]
}
{% endschema %}