<section class="Section Section--spacingNormal Section-Meet-Aria-Therapy" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="meet-aria-therapy">
  <div class="Container Container--narrow">
    <div class="Section-Meet-Aria-Therapy--Content">
      <div class="Therapy--Content--Info" data-aos="fade-up">
        <div class="Therapy--Content--Info--Title">
          <span>Therapy in action.</span>
        </div>
        <div class="Therapy--Content--Info--Steps">
          <div class="Therapy--Content--Info--Step">
            <div class="Therapy--Content--Info--Step--Number">
              <span>1</span>
            </div>
            <div class="Therapy--Content--Info--Step--Text">
              <span>A portable pump and a lightweight wrap combine to apply intermittent pneumatic compression.</span>
            </div>
          </div>
          <div class="Therapy--Content--Info--Step">
            <div class="Therapy--Content--Info--Step--Number">
              <span>2</span>
            </div>
            <div class="Therapy--Content--Info--Step--Text">
              <span>Gentle repetitive action and gradient pressure encourage movement and clearance of lymph through the body’s lymphatic system.</span>
            </div>
          </div>
          <div class="Therapy--Content--Info--Step">
            <div class="Therapy--Content--Info--Step--Number">
              <span>3</span>
            </div>
            <div class="Therapy--Content--Info--Step--Text">
              <span><strong>The goal:</strong> improved lymph flow, reduced swelling, and less discomfort.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="Therapy--Content--Image" data-aos="fade-left">
        <img src="https://cdn.shopify.com/s/files/1/0282/4060/9373/files/aria-free-chambers.png?v=1594199334" />
      </div>
    </div>
  </div>
</section>
