<section class="Section Section--spacingNormal Section-Support-Footer" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="support-footer">
  <div class="Container Container--narrow">
    <div class="Section-Support-Footer--Content">
      <div class="footer-content-wrapper">
        <div class="footer-content-container" data-aos="fade-up">
          <div class="footer-content">
            <div class="footer-title">
              <span>If you need additional information or<br/> one-on-one help, please contact us.</span>
            </div>
            <div class="footer-contacts">
              <a href="mailto:support@ariahealth.com">support@ariahealth.com</a>
              <a href="tel:8666470691">(866) 647-0691</a>
              <p style="margin-top: 12px;">Weekdays 7AM–3PM PST</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Support - Footer",
  "presets": [
    {
      "category": "Support",
      "name": "Footer",
      "settings": {}
    }
  ]
}
{% endschema %}